.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.534),
    rgba(69, 12, 134, 0.384)
  );
  height: 10vh;
}
.logoBox {
  padding-left: 20px;
}
.infoBox{
  display: flex;
  gap: 40px;
  padding-right: 20px;
}
.svg {
  fill: azure;
}
.svg:hover{
  fill:mediumslateblue;
}
.logo {
  fill: azure;
}
