@media (max-width: 767px){
  .cardImg{
    max-width: 80px;
		max-height: 140px;
  }
  .cardField {
    max-width:300px
  }
  }
.cardField {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 500px;
    gap: 20px;
  }
  .cardImg {
    width: 130px;
    height: 230px;
    cursor: pointer;
  } 