html,
body {
  margin: 0;
  padding: 0;
  background-image: url("../public/fonts/background.jpg");
  background-repeat: no-repeat;
  -ms-overflow-style: none;
  background-position: center;
  background-size: cover;
  scrollbar-width: none;
  height: 100%;
}
body::-webkit-scrollbar {
  display: none;
}


